@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HR Salary Calculator</h1>
    <p>Welcome to Sprout's company</p>

    <a asp-controller="Account" asp-action="Login" class="btn btn-lg rounded-sm mt-3 btn-primary">Click Here To Login</a>
</div>
